#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a {
	
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-transform: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: center;
	line-height: 12px;
	letter-spacing: 0px;
	word-spacing: 0px;
	
}

#wp_page_numbers {
	text-align:center;	
	margin-top: 10px;
	margin-bottom: 20px;
	
}
#wp_page_numbers ul {
	width: auto;
	margin: 0 auto;
	
}
#wp_page_numbers li {
	display: inline-block;
}

#wp_page_numbers a {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	color: #aaa;
	font-family: Arial;
	font-size: 12px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

#wp_page_numbers li a:hover {
	color: #3e8e17;
	border-top: 2px solid #3e8e17;
	border-bottom: 2px solid #f1f1f1;
}

#wp_page_numbers li.space {
	font-size: 12px;
	font-family: Arial;
	color: #aaa;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

#wp_page_numbers li.first_last_page {
	font-style: italic;
}

#wp_page_numbers li.active_page a {
	color: #fff;
	background: #3e8e17;
	border-top: 2px solid #3e8e17;
	border-bottom: 2px solid #3e8e17;
	
}
#wp_page_numbers li.active_page a:hover  {
	color: #fff; /* IE fix */
	border-top: 2px solid #00679d;
	border-bottom: 2px solid #3e8e17;
}

#wp_page_numbers li.page_info {
	float: left;
	font-size: 12px;
	font-family: Arial;
	color: #aaa;
	display: block;
	padding: 3px;
	padding-right: 5px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}