#navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
	background-color: rgba( 0, 0, 0, 0.5);
	height: 60px;
    text-align: center;
    z-index: 2;

    position: fixed;
    top: 0;
    right: 0;
	left: 0;
}

#navigation .menu-item a, #navigation .menu-item img {
    display: block;
}

#navigation > .menu-item {
    width: 85px;
    line-height: 60px;
    font-size: 25px;
}

#navigation > .menu-item img {
    width: 60px;
    height: auto;
    display: inline-flex;
}

#navigation > .menu-item a {
    height: 60px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.current {
    background-color: rgba(70, 70, 205, 0.5);
}