h1 {
	font-size: 30px;
	color: rgba(0, 0, 0, 1);
	line-height: 1.30em;
	text-align: left;
	font-weight: bold;
	padding: inherit;

}
h2 {
	font-size: 25px;
	color: rgba(0, 0, 0, 1);
	line-height: 1.20em;
	text-align: left;
}
h3 {
	font-size: 22x;
	color: rgba(0, 0, 0, 1);
	line-height: 1.15em;
	text-align: left;
}
h4 {
	font-size: 20px;
	color: rgba(0, 0, 0, 1);
	line-height: 1.15em;
	text-align: left;
}
h5 {
	font-size: 18px;
	color: rgba(0, 0, 0, 1);
	line-height: 1.15em;
	text-align: left;
}
h6 {
	font-size: 18px;
	color: rgba(0, 0, 0, 1);
	line-height: 1.15em;
	text-align: left;
	font-style: italic;
}
ul li {
list-style-type: none;
font-size: inherit;
}
#content ul {
list-style-image: url('../img_css/sqbgv.png');
padding-left: 17px;
}

#content ol {
	
	list-style-type: upper-roman;
	padding-left: 0px;
	}
.section {
	text-align: justify;
}
.content {
	padding-left: 0px;
}
p {
	padding-left: 0px;
}
