#content {
	margin-left: 25%;	
	margin-right: 25%;	

	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
}

#navigation {
	width: 20%;
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: 0;

	padding: 25px;
	box-sizing: border-box;

	border-right: 2px solid #ddd;
}

.navigation a {
	text-decoration: none;
}

ul.navigation {
	padding: 0;
	margin: 0;
}

.navigation li {
	list-style-type: none;
	margin: 0;
	padding: 10px;

	border-bottom: 2px solid #ddd;
}

#active {
	border-left: 4px solid #0b0;
}

.navigation li:hover {
	border-left: 4px solid #afa;
}